@{
    ViewBag.Title = "Copyright";
}
<h2>@ViewBag.Title</h2>

<p>
    Please note that the following material is provided for informational purposes only. It is not a legal advice nor is it intended to be a substitute for legal advice.
    Travosaur is not responsible for any loss or damage that you may suffer as a result of relying on the information below.
</p>

<p>
    Copyright is a legislative grant that prevents the unauthorised reproduction or dissemination of original works used by a person to express their ideas. 
    The protection afforded by copyright does not require registration. Rather, it automatically arises out of the creation of the work and generally, the owner of a work is considered to be the owner of the copyright in the work.
</p>

<p>
    To attract copyright protection, a work must emanate from the author and is not merely copied from another work.
    The following material is eligible for copyright protection: literary works, dramatic works, musical works, artistic works, cinematograph films, sound recordings, broadcasts and published editions.
    When a particular work is copyright protected, it means the owner of the work has the exclusive right to control the copying, adaptation and publication of its work.
    Unless the owner grants license and right to another person to use their work, that person may potentially commit a copyright infringement and consequently be exposed to legal action.
</p>

<p>
    <b>Copyright infringement</b>
    A person infringes copyright by committing an act comprised in the copyright or dealing with a substantial part of protected material without the licence of the owner of the copyright.
    This includes reproducing, distributing and/or making a derivative work from a copyrighted work without the lawful permission of the copyright owner.
    A single act may result in more than one copyright infringement. For example, making a copy of a film may infringe the copyright in the film (both video and audio),
    as well as the copyright in the dramatic work comprising the screenplay. A person who arranges the printing and distribution of a work may be liable for infringement by publishing the
    work as well as authorising its reproduction.
</p>

<p>
    Travosaur respects the rights of copyright holders and as a matter of policy requires all users to confirm that they own the copyright for the material that they upload or that they
    have the license from the owner to do so. If we are notified of a copyright-infringing content, we will promptly take action including but not limited to removing the offending material.
    If necessary, we will not hesitate to close the infringer's account and have it banned permanently.
</p>

<p>
    Some examples of potentially infringing material are:
    <ul class="Alpha">
        <li class="Margin">Images;</li>
        <li class="Margin">Texts;</li>
        <li class="Margin">Videos; or</li>
        <li class="Margin">Journal articles.</li>
    </ul>
</p>

<p>
    <b>Avoiding infringement</b>
    There are limitations to copyright. Copyright does not protect ideas or facts. Further, in certain cases, copyright in a work is not infringed by a fair dealing for the purpose of research or study,
    criticism or review and/or for the purpose of reporting the news. Another example of a non-infringement of copyright is when an extract of a reasonable length of a copyrighted material is published
    with sufficient acknowledgment of the work. Thus, it may be possible for a person to use small excerpts from copyrighted material if it falls within an exception or limitation to copyright under the law in the country.
</p>

<p>
    Generally, one way of avoiding copyright infringement is to make sure that you create something from your own skills and imagination.
    You must make sure that you create everything from scratch, and, for example, not create a tour by yourself with image that belongs to someone else
    (it is still a copyright violation with respect to using that image). In a nutshell, if you are the creator of the work, you will not have to worry about infringing someone else’s copyright!
</p>

<p>
    Copyright law can be complicated and Travosaur strongly suggests that you obtain legal advice before publishing copyrighted material on the website.
</p>
