@{
    ViewBag.Title = "Privacy Policy";
}
<h2>@ViewBag.Title</h2>

<p>This Privacy Policy applies to all personal information collected by us when you use our website at www.travosaur.com. This privacy is incorporated into and subject to the terms of the Agreement in accordance with Australian privacy laws, including the Privacy Act (Cth) 1988 ("the Privacy Act"), and insofar as possible, international standards of information privacy protection.</p>
<p>Your privacy is very important to us and we are committed to providing you with the highest level of customer service. For that reason, please read the following details carefully. By accepting this Privacy Policy and the Agreement, you give express consent to us on the use and disclosure of your personal information in the manner prescribed herein.</p>
<b>Collection and purpose</b>
<p>For the purposes of operating the Site and to provide you with an enjoyable and safe experience, we collect personal information from you and this may include, without limitation, your name, contact details, username and password. Some provision of personal information, such as contact details, is optional. However, if you do not provide us with certain types of personal information, we may not be able to provide you with the best service experience possible on the Site and you may be unable to enjoy the full functionality of it.</p>
<p>In addition, we also use cookies to store the credential and other information, which enables us to tell when you use the Site and also to help customise your website experience. For the purposes of network and usage analysis, as well as for security reasons, we may collect information which identifies, for each page accessed on the Site, the network identity of the machine which has accessed it. We will not disclose or publish the information which identifies individual machines unless we obtain your consent or otherwise in accordance with legal requirements.</p>

<b>Disclosure</b>
<p>As a matter of policy, we do not disclose personal information to any unrelated third parties without your consent. However, we may disclose your personal information to your authorised representatives, our professional advisers such as our accountants, auditors and lawyers, government and regulatory authorities as required or authorised by law.</p>
<p>Furthermore, we may disclose limited personal information of yours such as your name and contact details to other members of the Site so as to allow both parties to communicate and trade. Any other contact information will not be visible to other members unless you choose otherwise. You will be able to customise the type of information that you want to be hidden from other members of the Site.</p>

<b>Access and correction</b>
<p>National Privacy Principle 6 of the Privacy Act allows you to get access to, and correct, the personal information we hold about you subject to some exceptions allowed by law. You will be able to do so by accessing your account page when you are logged in.</p>

<b>Security</b>
<p>Pursuant to National Privacy Principle 4 of the Privacy Act, we have processes and mechanisms in place to protect your personal information from misuse and loss and from unauthorised access, modification or disclosure. We take all reasonable precautions to reasonably ensure the security and confidentiality of your personal information, including encryption of the password, and limitations on access to personal information within our organisation. However, you acknowledge that it is not possible for us to keep your personal information completely secured due to the inherent nature of the internet.</p>
<p>We may gather information about any attempted access to the Site which raises security issues. To that extent, we may, if required by law, make such disclosures to the relevant authorities.</p>
<p>Your personal information is stored on our database until your Site membership is terminated, at which point we will take all reasonable steps to destroy or permanently de-identify personal information unless you choose otherwise.</p>

<b>Notice</b>
<p>We may change this Privacy Policy from time to time in accordance with commercial reality, international standards and the law.</p>
